* {
  box-sizing: border-box;
}
html,body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  color: black;
  background-color: aqua;
}
nav, a{
  display: flex;
  justify-content: space-around;
  text-decoration: double;
  gap: 30px;
}
main {
  height: 100vh;
  background-color: rgb(166, 178, 188);
  overflow-y: auto;
  overflow-x:hidden;
}
.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100%;
  padding: 60px;

}
.form-container {
  width: 500px;
  padding: 20px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: aquamarine;
  box-shadow:0 0 100px black;
}
h1 {
  margin-bottom: 100px;;
}
input,select,textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid rgb(247, 243, 22);
  border-radius: 10px;
}
.form-group {
  margin-bottom: 15px;
}
label {
  display:block;
  margin-bottom: 7px;
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 15px;
}
.form-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.form-checkbox label {
  margin-right: 10px;
  margin-top: 10px;
}
input[type=checkbox] {
  margin: 0;
  width: auto;
}
button {
  background: #408a84;
  color: white;
  border: none;
  padding: 10px 15px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: blue;
}
footer {
  display: flex;
  justify-content: space-between;
  color: rgb(20, 53, 245);
  background-color: aqua;
}
.logo {
  padding: 20px;
  font-size: 30px;
  color: black;
}
.contact-container {
  padding: 20px;
}
h4 {
  color: black;
}
